/xyz.leedu.h5/node_modules/
/xyz.leedu.h5/dist/
/xyz.leedu.h5/README.md

/xyz.leedu.pc/node_modules/
/xyz.leedu.pc/dist/
/xyz.leedu.pc/README.md

/xyz.leedu.admin/node_modules/
/xyz.leedu.admin/dist/
/xyz.leedu.admin/README.md

/xyz.leedu.api/vendor/
/xyz.leedu.api/.env
/xyz.leedu.api/.phpunit.result.cache
/xyz.leedu.api/.php-cs-fixer.php
/xyz.leedu.api/apidoc/
/xyz.leedu.api/apidoc.json
/xyz.leedu.api/README.md
/xyz.leedu.api/.env.testing